{% extends 'base.html' %}
{% load static %}
{% block title %} C.R.U.D {% endblock %}
{% block candr %}
<div>
    <h2 id="fm-header">Add your address</h2>
    <div class="container">
         <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form> 
    </div>
    <div class="styled-table">
        <h2 id="ad-table" >Recorded Address Details</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Pincode</th>
                    <th>State</th>
                    <th>Address</th>
                    <th>Locality</th>
                    <th>Town</th>
                    <th>Type of Address</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
            </thead>
            {% if details %}
            {% for d in details %}
            <tbody>
                <tr>
                    <td>{{d.name}}</td>
                    <td>{{d.mobile}}</td>
                    <td>{{d.pincode}}</td>
                    <td>{{d.state}}</td>
                    <td>{{d.address}}</td>
                    <td>{{d.locality}}</td>
                    <td>{{d.city}}</td>
                    <td>{{d.type_of_address}}</td>
                    <td>
                        <a href="{% url 'update' d.pk %}"> <input type="submit" value="Edit"></a>
                    </td>
                    <td>
                        <form method="POST" action="{% url 'delete' d.pk %}">
                             {% csrf_token %}
                            <input type="submit" value="Remove">
                        </form>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
            {% else %}
            <strong> No data found</strong>
            {% endif %}
        </table>
        <a href="{% url 'candr' %}"><input type="submit" value="Add new"></a>
    </div>
</div>
{% endblock %}